:root {
    --first-color: #D90062;
    --first-alpha-color: rgba(217, 0, 98, 0.75);
    --hero-title-color: #FFF;
    --gray-light-color: #f3f3f3;
    --white-color: #fff;
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --second-color: #14192D;
    --title-color: #333;
    
}

/*******RESET*********/

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
    max-width: 100%;
    height: auto;
    
}

/**********Components************/

/*****Modal*****/
.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--black-alpha-color);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.modal-content {
    position: relative;
    border: thin solid black;
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modal-close svg {
    width: 3rem;
    height: 3rem;
    fill: var(--first-color);
}

.modal[id|="trabajo"]:target {
    opacity: 1;
    pointer-events: auto;
}

/**********Site Styles**********/

.acerca-content-photo img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top left;
}

.contact {
    background-color: var(--gray-light-color);
    padding: 1.5rem;
}

.contact-container {
    width: 60%;
    margin: 1rem auto;
    background-color: #FFF;
    padding: 1.5rem;
    box-shadow: 0 0 1.4rem rgba(0, 0, 0, 0.45);
}

.contact-form input {
    border: none;
    border-bottom: thin solid black;
}

.contact-form * {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}

.contact-form textarea {
    resize: none;
}

.footer {
    text-align: center;
    padding: 0.5rem;
    background-color: var(--second-color);
    color: #FFF;
}

.header {
    position: fixed;
    top: 0;
    padding: 1rem;
    width: 100%;
    height: 4rem;
    background-color: var(--second-color);
    z-index: 999;
}

.header > .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo {
    display: none;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.4)), url("assets/pexels-kevin-ku-92347-577585.jpg");   
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.hero-image-title {
    font-size: 7.5vw;
    color: var(--white-color);
}

.hero-image-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-image-content h1 {
    font-size: 7vw;
    color: var(--hero-title-color);
}

.logo a {
    color: var(--first-color);
    font-weight: bold;
    font-size: 2rem;
}

.menu a {
    padding: 1rem;
    font-style: 1.5rem;
    font-weight: bold;
    color: var(--first-color);
}

.portfolio-card {
     position: relative;
     display: block;
     width: 100%;
     margin: 0 auto;
}

.portfolio-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-card-info {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 100%;
    padding: 1rem;
    background-color: var(--first-alpha-color);
    color: var(--white-color);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.portfolio-card:hover .portfolio-card-info {
    opacity: 1;
    pointer-events: auto;

}

.portfolio-card-info > div {
    padding: 1rem;
    border: thin solid var(--white-color);
    width: 100%;
    height: 100%;
}

.portfolio-modal {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 280px;
    background-color: var(--white-color);
}

.portfolio-modal h3 {
    border-bottom: medium solid var(--first-color);
    padding: 0.5rem 0;
    margin: 1rem auto;
    color: var(--title-color);
}

.portfolio-details {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-rows: 1.5rem;
}

.portfolio-details b {
    color: var(--first-color);
}

.table{
    border-collapse: collapse;
    margin: 2rem auto;
    font-size: 0.9rem;
    box-shadow: 0 0 1.4rem rgba(0, 0, 0, 0.45);
    text-align: center;
}

.table thead tr {
    background-color: var(--second-color);
    color: var(--first-color);
    
}

.table th,
.table td {
    padding: 1rem;
}

.table tbody tr {
    border-bottom: thin solid var(--first-color);
}

.table tbody tr:nth-of-type(even) {
    background-color: #FFF;
}

.table tbody tr:last-of-type {
    border-bottom: medium solid var(--first-color);
}

.table tbody tr:nth-child(even) {
    background-color: var(--second-color);
    color: var(--first-color);
}

/*****Utilities*****/

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.section {
    padding: 2rem 1rem;
}

.section-title {
  border-top: thin solid var(--first-color);
  border-bottom: thin solid var(--first-color);
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  width: 250px;
  text-align: center;
  color: var(--title-color);
}

.btn {
    display: inline-block;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 200px;
    font-weight: bold;
    color: var(--hero-title-color);
    background-color: var(--first-color);
    text-align: center;
}

.text-center {
    text-align: center;
}




@media screen and (min-width: 768px) {
    
    .header > .container {
        justify-content: space-between;
        align-items: center;
    }

    .header .logo {
        display: block;
    }

    .portfolio > .container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .portfolio .section-title {
        grid-column: span 2;
    }

    .portfolio-modal {
        max-width: 800px;
        flex-direction: row;
    }

    .portfolio-info {
        margin-left: 1rem;
        align-self: center;
    }
    
}

@media screen and (min-width: 1024px) {
    .portfolio > .container {
        grid-template-columns: repeat(3, 1fr);
    }

    .portfolio .section-title {
        grid-column: span 3;
    }

    .acerca {
        display: flex;
        justify-content: space-between;
    
    }

    .acerca-content-sobre-mi {
        width: 30%;
        padding: 1rem;
    }

    .acerca-content-table {
        width: 30%;   
        align-items: center; 
    }

    .acerca-content-photo {
        width: 30%;
        height: 70vh;
    }
    
    .photo {
        width: 100%;
        height: 70vh;
    }

    .photo img {
        height: 60vh;
        object-fit: scale-down;      
    }
}